*.o
*.a
Makefile
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
CTestTestfile.cmake
build

selfTest
simplexSelfTest
sparsetest
quocELMA/external
quocELMA/internal
quocELMA/examples
